{% extends "index.html" %}

{% block content %}
<div class= "main_form">
    <h1>Sign-Up Form</h1>
    {%  if form %}
    {{ form }}
    {% endif %}
    <form action= "/" method= "POST">            
        <label for= "username" value= "">Username:</label>
            <p class='error'>{{ error.username_error or '' }}</p>
        <input id= "username" type= "text" name= "username" value="{{ request.form['username'] }}" /><br>
        <label for= "password" value= "">Password:</label>
            <p class="error">{{ error.password_error or '' }}</p>
        <input type= "password" name= "password" autocomplete= "off" /><br>
        <label for= "password" value= "">Verify Password:</label>
            <p class='error'>{{ error.password_error2 or '' }}</p>
        <input type= "password" name= "verify_password" autocomplete = "off" /><br>
        <label for= "email" value= "">E-Mail:</label>
            <p class='error'>{{ error.email_error or '' }}</p>
        <input type= "text" name= "email" value="{{ request.form['email'] }}"/><br>           
        <input id="sub_button" type= "submit"/>
    </form>
    
    {% endblock %}